@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', 'sans-serif';
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    overflow-x: hidden;
    background-color: bisque;
}

.logo{
    transition: transform .7s ease-in-out;
    width: 50px;
}
.logo:hover{
    transform: rotate(360deg);
}
.logoname{
    font-size: 30px;
    font-weight: bold;
}