@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', 'sans-serif';
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    overflow-x: hidden;
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
/* Header setting */

.label{
    width: 50px;
    background-color: rgb(250, 114, 90);
    border-radius: 5px;
    border:1px solid black;
    margin:2px 4px;
    text-align: center;
    font-weight: bold;
}
.logo{
    transition: transform .7s ease-in-out;
    width: 50px;
}
.logo:hover{
    transform: rotate(360deg);
}
.logoname{
    font-size: 30px;
    font-weight: bold;
}

/* product setting */

img{
    height: 40%;
    width: 30px;
}

button:hover{
    letter-spacing: 1px;
    font-weight: bold;
}

.content{
    background:rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    left:0;
    margin-bottom: 50%;
    width: 100%;
    height: 68%;
    color:white;
    padding: 20px;
    visibility: hidden;
    transition: all 0.2s;

}
.content p{
    margin-top:30px;
    margin-left:10px;

}
.card:hover .content{
    left: 0;
    visibility: visible;
}

/* Dashboard setting */

.dashboard{
    margin-left: 30%;

}

.description{
    height:60vh;
}

.title{
    text-align: center;
    margin-top:5px;
    text-decoration:none;
}
.details{
    margin-left: 30%;
    margin-top: 10px;
}
.items{
    text-align:right;
}

/* login setting */
.wrapper{
    display: block;
    margin: auto;
    border: 2px solid black;
    margin-top:10px;
    width: 360px;
    padding: 20px;
    background-color: white;
}



/* footer setting */

.footer{
    text-align: center;
    font-size: 18px;
    color:black;
    margin-left: 20%;
    position: relative;
    bottom: 7;
    width: 100%;
    height: 2.5rem;

}
.f-logo{
    padding: 5px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 3px 1px;
}
.f-logo:hover {
    opacity: 0.7;
}