@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', 'sans-serif';
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    overflow-x: hidden;
    /* background-image: linear-gradient(#bfc4e4 30%,#d1b9fd 70%); */
    background-color: #cbc9c9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

/* Header setting */

.find {
    cursor: pointer;
    border: 4px solid rgb(240, 240, 240);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif


}

.label{
    width: 50px;
    background-color: rgb(250, 114, 90);
    border-radius: 5px;
    border:1px solid black;
    margin:2px 4px;
    text-align: center;
    font-weight: bold;
}

.logo{
    transition: transform .7s ease-in-out;
    width: 50px;
}

.logo:hover{
    transform: rotate(360deg);
}

.logoname{
    font-size: 150%;
    font-weight: bold;
}

header .bi {
    font-size: 150%;
}

header{
    font-size: 100%;

}
span{
    border: 2px solid #e2e2e8 !important;;

}

header button:hover{
    letter-spacing: 0.5px;
    font-weight: bold;
    background-image: linear-gradient(#5f71ea 10%,#1d43a5 70%);
    color: rgb(0, 0, 0);
}

/* product card */
.productdisplay{
    margin-left:10%;
}
.productCard {
    width: 300px;
    height: 400px;
    background: rgb(255, 255, 255);
    padding: 2px;
    border: 2px solid #e2e2e8 !important;;
}

.cardContent {
    width:100%;
    height: 100%;
}

.productName{
    font-size: 100%;
}

.productImgContainer {
    position: relative;
    height: 250px;
    margin: auto;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productDescription {
    background:rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color:white;
    visibility: hidden;
    transition: all 0.2s;
    font-size: 80%;
}

.productCard:hover .productDescription{
    visibility: visible;
}

.productDetails {
    margin-top: 5px;
    font-size: 45%;
    font-weight: bold;
}

.badgeLink,
.badgeLink:hover {
    text-decoration: none;
}

.cardUniverse p{
    background: #CC0000;
    border-radius: 5px;
    color: white;
}

.cardCategory p{
    background: #042C3B;
    
    border-radius: 5px;
    color: white;
}

.cardCondition p{
    border-radius: 5px;
    color: #0f0f0f;
}

.cardConditionNew {
    background: #F9A602;
}

.cardConditionGood {
    background: #BEC2CB;
}

.cardConditionUsed {
    background: #B08D57;
}

.productId {
    display: none;
}

.cardBtn {
    width: 150px;
    margin: auto;
    font-size: 125%;
}

.productPrice {
    display: inline-block;
    margin: 0;
}

.productBuy {
    display: none;
    margin: 0;
}

.cardBtn:hover .productPrice {
    display: none;
}

.cardBtn:hover .productBuy {
    display: inline-block;
}


/* Cart setting */
table{
    width:100%;   
    margin-left: 5px;
}
table.test{
    width: 80%;
    margin-left: 5%; 
    margin-top:5%;   
}
.cart{
    margin-top: 5%;
    text-align: center;
}
.cart1{
    margin-top: 5%;
    text-align: center;
}
.checkout{
    width: 80%;
    margin-top:5%; 
}

/* Dashboard setting */

.dashboard{
    margin-left: 30%;

}

.description{
    height:60vh;
}

.title{
    text-align: center;
    margin-top:5px;
    text-decoration:none;
}
.details{
    margin-left: 30%;
    margin-top: 10px;
}
.items{
    text-align:right;
}

/* form setting */
.wrapper{
    border: 1px solid rgb(31, 6, 42);
    background-color: rgb(167, 123, 123);
}
.formFinePrint {
    display: block;
    font-size: 60%;
}

/* product dashboard */

.dashFilter {
    width: fit-content;
    margin: auto;
}

.addBtn {
    background: orange;
}

/* footer setting */
.footer {
    color: #BEC2CB;
    font-size: 70%;
}
.f-logo{
    color: #BEC2CB;
    font-size: 120%;
    margin-left: 5px;
}
.f-logo:hover {
    opacity: 0.7;
}

/* terms */

.terms-text {
    width: 80%;
    margin: 150px auto;
    background-color: #e1dddedd;
    color: #3c3c3c;
    border-radius: 15px;
    padding: 1%;
    text-align: left;
}

.terms-title {
    text-align: center;
}
.terms-text p{
    font-size: 16px;
    line-height: 1.5;
}
.terms-text h5{
    font-size: 20px;
}

/*media queries*/

@media only screen and (max-width: 1400px) {
    body{
        font-size: 20px;
    }

    .btn {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1200px) {
    body{
        font-size: 18px;
    }

    .btn {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1000px) {
    body{
        font-size: 16px;
    }

    .btn {
        font-size: 0.7rem;
    }
}